.main-page-section {
    min-height: 80vh;
}

.main-page-div {
    display: grid;
    gap: 2rem;
}

.main-page-h3 {
    margin-top: 0;
}

@media (min-width: 700px) {
    .main-page-div {
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-start;
    }
}